In [ ]:
# I. Pandas Introduction

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/Data_Mining/Thuc_hanh/PastHires.csv")
df.head()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.head(10)

In [ ]:
df.tail(4)

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
len(df)

In [ ]:
df.columna

In [ ]:
df['Hired'][:5]

In [ ]:
df['Hired'][5]

In [ ]:
df[['Years Experience' , 'Hired']]

In [ ]:
df[['Years Experience', 'Hired']][:5]

In [ ]:
df.sort_values(["Years Experience"])

In [ ]:
degree_counts = df['Level of Education'].value_counts()
degree_counts

In [ ]:
degree_counts.plot(kind='bar')

In [ ]:
# II. Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 1. Creating a Series

In [ ]:
labels = ['a', 'b', 'c']
my_list =[10, 20, 30]
arr = np.array([10,10,30])
d = {'a':10, 'b':20, 'e':30}

In [ ]:
pd.Series(data=my_list)

In [ ]:
pd.Series(data=my_list, index=labels)

In [ ]:
pd.Series(my_list, labels)

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(arr, labels)

In [ ]:
pd.Series(d)

In [ ]:
pd.Series(data=labels)

In [ ]:
pd.Series([sum, print, len])

In [ ]:
# 3. Using an index

In [ ]:
serl = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany', 'USSR', 'Japan'])

In [ ]:
ser2 = pd.Series([1, 2, 5, 4], index = ['USA', 'Germany', 'Italy', 'Japan'])
ser2

In [ ]:
serl['USA']

In [ ]:
serl + ser2

In [ ]:
# III. DataFrames

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [ ]:
df

In [ ]:
# 1.

In [ ]:
df['W']

In [ ]:
df[['W', 'Z']]

In [ ]:
df.W

In [ ]:
type(df['W'])

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

In [ ]:
df.drop('new', axis=1)

In [ ]:
df

In [ ]:
df.drop('E', axis=0)

In [ ]:
df.loc['A']

In [ ]:
df.iloc[2]

In [ ]:
df.loc['B', 'Y']

In [ ]:
df.loc[["A", "B"], ["W", "Y"]]

In [ ]:
df

In [ ]:
df > 0

In [ ]:
df[df>0]

In [ ]:
df[df['W']>0]

In [ ]:
df[df['W']>0][['Y', 'X']]

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

In [ ]:
# 3.

In [ ]:
df

In [ ]:
df.reset_index()

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States' )

In [ ]:
df

In [ ]:
df.set_index('States', inplace=True)

In [ ]:
df

In [ ]:
# 4.

In [ ]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [ ]:
df

In [ ]:
df.loc['G1']

In [ ]:
df.index.names

In [ ]:
df.index.names = ["Group", "Num"]

In [ ]:
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1', 1])

In [ ]:
df.xs(1, level='Num')

In [ ]:
# # Missing Data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
df['A'].fillna(value=df['A'].mean())

In [ ]:
#  Merging, Joining and Concatenating

In [ ]:
# Concatenation

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

In [ ]:
# 2. Merging

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,how='inner',on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

In [ ]:
# 3. Joining

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

In [ ]:
# VI. Operations

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
# 1. Info on Unique Values

In [ ]:
# 1. Info on Unique Values

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

In [ ]:
# 2. Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

In [ ]:
# 3. Applying Functions

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col1'].sum()

In [ ]:
# Permanently Removing a Column

In [ ]:
del df['col1']

In [ ]:
df

In [ ]:
# Get column and index names:

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
# Sorting and Ordering a DataFrame:

In [ ]:
df

In [ ]:
df.sort_values(by='col2') #inplace=False by default

In [ ]:
df.isnull()

In [ ]:
# Drop rows with NaN Values
df.dropna()

In [ ]:
# Filling in NaN values with something else:

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('FILL')

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

In [ ]:
# VII. Data Input and Output

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/Data_Mining/Thuc_hanh/Excel_Sample.csv')
df

In [ ]:
# CSV Output

In [ ]:
df.to_csv('example',index=False)

In [ ]:
### Excel Input

In [ ]:
pd.read_excel('/content/drive/MyDrive/Colab_Notebooks/Data_Mining/Thuc_hanh/Excel_Sample.xlsx', sheet_name='Sheet1')

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data', con=engine)

In [ ]:
sql_df